
.random_banner_container{
    width: 100%;
    border-radius: 6px;
    margin-bottom: 40px;
    margin-top: 10px;
    text-decoration: none;
    display: none;
    overflow: hidden;
}

@media only screen and (max-width:600px) {

    .random_banner_container{
        display: none !important;
    }

}

.random_banner_container_small{ height: 100px; }
.random_banner_container_medium{ height: 150px; }
.random_banner_container_large{ height: 200px; }
.random_banner_container_xlarge{ height: 250px; }

.random_banner_container_inner{
    padding: 10px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.random_banner_container_small .random_banner_container_inner{ height: 100px; }
.random_banner_container_medium .random_banner_container_inner{ height: 150px; }
.random_banner_container_large .random_banner_container_inner{ height: 200px; }
.random_banner_container_xlarge .random_banner_container_inner{ height: 250px; }

.random_banner_left{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.random_banner_left_image_container{
    display: block;
    min-width: 80px;
    text-align: center;
}

.random_banner_left_image{
    max-width: 100%;
}

.random_banner_left_text_main{
    font-size: 1.2rem;
    font-weight: bold;
}

.random_banner_left_text_additional{
    margin-top: 5px;
    max-width: 400px;
    font-size: 0.9rem;
    line-height: 20px;
}

.random_banner_right{
    margin-right: 10px;
    margin-left: 10px;
}

.random_banner_right_button, .random_banner_left_text_button{
    display: inline-block;
    border-radius: 4px;
    line-height: 40px;
    height: 40px;
    padding: 0 15px;
    white-space: nowrap;
    cursor: pointer;
    font-size: 0.9rem;
    transition: 0.25s;
}


/* ======================== */
/* ================= Credit */
/* ======================== */

.random_banner_container[data-id="credit"]{
    background-color: #da3f5a;
    color: #fff;
}

.random_banner_container[data-id="credit"] .random_banner_left_image{
    max-height: 80px;
}

.random_banner_container[data-id="credit"] .random_banner_right_button{
    background-color: #f2798e;
    color: #FFF;
}

.random_banner_container[data-id="credit"] .random_banner_right_button:hover{
    background-color: #b32941;
    color: #FFF;
}

/* ======================== */
/* ========= PayPal - Later */
/* ======================== */

.random_banner_container[data-id="ppcp-later"]{
    background: rgb(35,155,223);
    background: linear-gradient(133deg, rgba(35,155,223,1) 35%, rgba(15,48,136,1) 100%);
    color: #FFF;
}

.random_banner_container[data-id="ppcp-later"] .random_banner_left_image{
    max-height: 80px;
    background-color: #fff;
    border-radius: 6px;
    padding: 5px;
}

.random_banner_container[data-id="ppcp-later"] .random_banner_right_button{
    background-color: #fff;
    color: #0f3087;
}

.random_banner_container[data-id="ppcp-later"] .random_banner_right_button:hover{
    background-color: #0f3087;
    color: #fff;
}


/* ======================== */
/* ====== Facebook - Pixel  */
/* ======================== */

.random_banner_container[data-id="facebook-pixel"]{
    background: #3c5a9a;
    color: #FFF;
}

.random_banner_container[data-id="facebook-pixel"] .random_banner_left_image{
    max-height: 60px;
    background-color: #fff;
    border-radius: 6px;
    padding: 5px;
}

.random_banner_container[data-id="facebook-pixel"] .random_banner_right_button{
    background-color: #fff;
    color: #0f3087;
}

.random_banner_container[data-id="facebook-pixel"] .random_banner_right_button:hover{
    background-color: #0f3087;
    color: #fff;
}


/* ======================== */
/* ======= Notification Bar */
/* ======================== */

.random_banner_container[data-id="notification-bars"]{
    background: #161f46;
    background: linear-gradient( 133deg, #161f46 35%, rgb(87 123 253) 100%);
    color: #FFF;
}

.random_banner_container[data-id="notification-bars"] .random_banner_container_inner{
    padding: 10px 0 10px 30px;
}

.random_banner_container[data-id="notification-bars"] .random_banner_left_text_additional{
    max-width: 300px;
}

.random_banner_container[data-id="notification-bars"] .random_banner_left_text_button{
    background-color: #fff;
    color: #5271ff;
    margin-top: 30px;
}

.random_banner_container[data-id="notification-bars"] .random_banner_left_text_button:hover{
    background-color: #5271ff;
    color: #fff;
}

.random_banner_container[data-id="notification-bars"] .random_banner_right{
    margin-right: 0;
}

.random_banner_notification_bar{
    height: 35px;
    margin-top: 10px;
    padding-left: 20px;
    line-height: 35px;
    font-size: 0.9rem;
    color: #fff;
    margin-left: 10%;
    white-space: nowrap;
    overflow: hidden;
    box-shadow: 0 0 5px #18214b;
    border: 1px solid #1b2552;
    border-right: none;
    text-overflow: ellipsis;
}

.random_banner_notification_bar1{
    background-color: #f1487a;
    margin-top: 0;
}

.random_banner_notification_bar2{
    background-color: #6639a0;
}

.random_banner_notification_bar3{
    background-color: #3ca260;
}

.random_banner_notification_bar4{
    background-color: #ff8a25;
}



/* ======================== */
/* ========= Cookie Consent */
/* ======================== */

.random_banner_container[data-id="cookie-consent"]{
    background: #e5ba4a;
    color: #212121;
}

.random_banner_container[data-id="cookie-consent"] .random_banner_container_inner{
    padding: 10px 30px 10px 30px;
}

.random_banner_container[data-id="cookie-consent"] .random_banner_left_text_additional{
    max-width: 300px;
}

.random_banner_container[data-id="cookie-consent"] .random_banner_left_text_button{
    background-color: #212121;
    color: #fff;
    margin-top: 30px;
}

.random_banner_container[data-id="cookie-consent"] .random_banner_left_text_button:hover{
    background-color: #fff;
    color: #8e732e;
    margin-top: 30px;
}

.random_banner_container[data-id="cookie-consent"] .random_banner_right{
    margin-right: 0;
}

.random_banner_container[data-id="cookie-consent"] #random_banner_right_cc-app-opt{
    max-width: 200px;
    transform: rotate(5deg);
    filter: drop-shadow(2px 4px 11px #8e732e);
}



/* ======================== */
/* =================== Blog */
/* ======================== */

.random_banner_container[data-id="blog"]{
    background: #20b7e6;
    color: #fff;
    overflow: hidden;
    position: relative;
}


.random_banner_container[data-id="blog"] .random_banner_container_inner{
    padding: 10px 30px 10px 30px;
}

.random_banner_container[data-id="blog"] .random_banner_left{
    position: relative;
    z-index: 2;
}

.random_banner_container[data-id="blog"] .random_banner_left_text_main{
    background-color: rgb(39 183 230 / 0.7);
    max-width: 400px;
    padding: 5px 0;
}

.random_banner_container[data-id="blog"] .random_banner_left_text_additional{
    max-width: 300px;
    background-color: rgb(39 183 230 / 0.7);
    max-height: 80px;
    overflow: hidden;
}

.random_banner_container[data-id="blog"] .random_banner_left_text_button{
    background-color: #212121;
    color: #fff;
    margin-top: 30px;
}

.random_banner_container[data-id="blog"] .random_banner_left_text_button:hover{
    background-color: #fff;
    color: #8e732e;
    margin-top: 30px;
}

.random_banner_container[data-id="blog"] .random_banner_right{
    margin-right: 0;
}

.random_banner_container[data-id="blog"] #random_banner_right_blog_image{
    max-width: 550px;
    transform: rotate(5deg);
    filter: drop-shadow(2px 4px 11px #212121);
    position: absolute;
    top: -20px;
    right: -250px;
}


/* ======================== */
/* ====== Free Domain Name */
/* ======================== */

.random_banner_container[data-id="free-domain-name"]{
    background-color: #8a1243;
    color: #fff;
}

.random_banner_container[data-id="free-domain-name"] .random_banner_left_image{
    max-height: 80px;
}

.random_banner_container[data-id="free-domain-name"] .random_banner_right_button{
    background-color: #fc0066;
    color: #FFF;
}

.random_banner_container[data-id="free-domain-name"] .random_banner_right_button:hover{
    background-color: #bd165a;
    color: #FFF;
}




/* ======================== */
/* ====== Suggest Domain Name */
/* ======================== */

.random_banner_container[data-id="suggest-domain-name"]{
    background-color: #0B3B2D;
    color: #fff;
}

.random_banner_container[data-id="suggest-domain-name"] .random_banner_left_image{
    max-height: 80px;
}

.random_banner_container[data-id="suggest-domain-name"] .random_banner_right_button{
    background-color: #6C9772;
    color: #FFF;
}

.random_banner_container[data-id="suggest-domain-name"] .random_banner_right_button:hover{
    background-color: #244F43;
    color: #FFF;
}


/* ======================== */
/* ========= QR Codes ===== */
/* ======================== */

.random_banner_container[data-id="qr-codes"]{
    background: #212121;
    color: #fff;
}

.random_banner_container[data-id="qr-codes"] .random_banner_container_inner{
    padding: 10px 30px 10px 30px;
}

.random_banner_container[data-id="qr-codes"] .random_banner_left_text_additional{
    max-width: 300px;
}

.random_banner_container[data-id="qr-codes"] .random_banner_left_text_button{
    background-color: #fff;
    color: #212121;
    margin-top: 30px;
}

.random_banner_container[data-id="qr-codes"] .random_banner_left_text_button:hover{
    background-color: #bfbfbf;
    color: #212121;
    margin-top: 30px;
}

.random_banner_container[data-id="qr-codes"] .random_banner_right{
    margin-right: 0;
}

.random_banner_container[data-id="qr-codes"] #random_banner_right_qr-app-opt{
    max-width: 200px;
    transform: rotate(5deg);
    filter: drop-shadow(2px 4px 11px #111);
}






/* ======================== */
/* ========= Usage Revenue  */
/* ======================== */

.random_banner_container[data-id="usage-revenue"]{
    background: #FFCC07;
    background: linear-gradient(133deg, #FFCC07 35%, #FFD949 100%);
    color: #fff;
    position: relative;
}

.random_banner_container[data-id="usage-revenue"] .random_banner_container_inner{
    padding: 10px 30px 10px 30px;
    position: relative;
    z-index: 2;
}

.random_banner_container[data-id="usage-revenue"] .random_banner_left_text_main{
    color: #212121;
    font-size: 1.7rem;
}

.random_banner_container[data-id="usage-revenue"] .random_banner_left_text_additional{
    max-width: 300px;
    color: #3a332a;
    margin-top: 15px;
}

.random_banner_container[data-id="usage-revenue"] .random_banner_left_text_additional span{
    border-bottom: 4px double #212121;
    font-weight: bold;
}


.random_banner_container[data-id="usage-revenue"] .random_banner_left_text_button{
    background-color: #212121;
    color: #FFF;
    margin-top: 30px;
}

.random_banner_container[data-id="usage-revenue"] .random_banner_left_text_button:hover{
    background-color: #F4A736;
    color: #fff;
    margin-top: 30px;
}

.random_banner_container[data-id="usage-revenue"] .random_banner_right{
    margin-right: 0;
}

.random_banner_container[data-id="usage-revenue"] #revenueChartBannerContainer{
    transform: rotate(5deg);
    filter: drop-shadow(0px 0px 50px #fff);
}



/* ======================== */
/* ========= Storage Revenue  */
/* ======================== */

.random_banner_container[data-id="usage-storage"]{
    background: #0e49ce;
        background: linear-gradient(133deg, #0e49ce 35%, #43a5ea 100%);
    color: #fff;
    position: relative;
}

.random_banner_container[data-id="usage-storage"] .random_banner_container_inner{
    padding: 10px 30px 10px 30px;
    position: relative;
    z-index: 2;
}

.random_banner_container[data-id="usage-storage"] .random_banner_left_text_main{
    color: #FFFFFF;
    font-size: 1.7rem;
}

.random_banner_container[data-id="usage-storage"] .random_banner_left_text_additional{
    max-width: 300px;
    color: #FFFFFF;
    margin-top: 15px;
}

.random_banner_container[data-id="usage-storage"] .random_banner_left_text_additional span{
    border-bottom: 4px double #FFFFFF;
    font-weight: bold;
}


.random_banner_container[data-id="usage-storage"] .random_banner_left_text_button{
    background-color: #FFFFFF;
    color: #212121;
    margin-top: 30px;
}

.random_banner_container[data-id="usage-storage"] .random_banner_left_text_button:hover{
    background-color: #43a5ea;
    color: #fff;
    margin-top: 30px;
}

.random_banner_container[data-id="usage-storage"] .random_banner_right{
    margin-right: 0;
}

.random_banner_container[data-id="usage-storage"] #storageChartBannerContainer{
    transform: rotate(5deg);
    filter: drop-shadow(0px 0px 50px #fff);
}




/* ======================== */
/* ========= Bandwidth Revenue  */
/* ======================== */

.random_banner_container[data-id="usage-bandwidth"]{
    background: #F2729B;
    background: linear-gradient(133deg, #F2729B 35%, #FCB563 100%);
    color: #fff;
    position: relative;
}

.random_banner_container[data-id="usage-bandwidth"] .random_banner_container_inner{
    padding: 10px 30px 10px 30px;
    position: relative;
    z-index: 2;
}

.random_banner_container[data-id="usage-bandwidth"] .random_banner_left_text_main{
    color: #FFFFFF;
    font-size: 1.7rem;
}

.random_banner_container[data-id="usage-bandwidth"] .random_banner_left_text_additional{
    max-width: 300px;
    color: #FFFFFF;
    margin-top: 15px;
}

.random_banner_container[data-id="usage-bandwidth"] .random_banner_left_text_additional span{
    border-bottom: 4px double #FFFFFF;
    font-weight: bold;
}


.random_banner_container[data-id="usage-bandwidth"] .random_banner_left_text_button{
    background-color: #FCB563;
    color: #fff;
    margin-top: 30px;
}

.random_banner_container[data-id="usage-bandwidth"] .random_banner_left_text_button:hover{
    background-color: #bb5676;
    color: #fff;
    margin-top: 30px;
}

.random_banner_container[data-id="usage-bandwidth"] .random_banner_right{
    margin-right: 0;
}

.random_banner_container[data-id="usage-bandwidth"] #bandwidthChartBannerContainer{
    transform: rotate(5deg);
    filter: drop-shadow(0px 0px 50px #fff);
}





.random_banner_star_item{
    background-color: #FFF;
    position: absolute;
    border-radius: 50%;
    z-index: 1;
}

.random_banner_revenue_chart{
    position: absolute;
    bottom: -20px;
    right: 47%;
}

.random_banner_revenue_chart_box{
    width: 20px;
    background-color: rgb(255 255 255 / 0.5);
    border: 1px solid #fff;
    display: inline-block;
    margin-right:5px;
}

.random_banner_revenue_chart_box:nth-child(1){ 
    height: 50px;
}

.random_banner_revenue_chart_box:nth-child(2){ 
    height: 70px;
}

.random_banner_revenue_chart_box:nth-child(3){ 
    height: 90px;
}

.random_banner_revenue_chart_box:nth-child(4){ 
    height: 110px;
}

.random_banner_revenue_chart_arrow{
    position: absolute;
    width: 125%;
    height: 1px;
    border-bottom: 2px dashed rgb(255 255 255 / 0.6);
    transform: rotate(-35deg);
    top: 10px;
    left: -25px;
}

.random_banner_revenue_chart_arrow::after{
    content: '';
    display: inline-block;
    width: 0; 
    height: 0; 
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #fff;
    position: absolute;
    top: -3px;
    right: -11px;
    transform: rotate(90deg);
}

.random_banner_left_text_button_bigger{
    height: 50px;
    line-height: inherit;
    padding-top: 7px;
}




#random_banner_left_text_button_unlock{
    font-size: 0.7rem;
    margin-top: 3px;
}