
#startup_overlay{
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    background-color: #FFF;
    z-index: 10000;
    display: none;
    overflow-y: auto;
}

#startup_overlay_inner{
    display: flex;
    flex-wrap: wrap;
 
}

.startup_overlay_item{
    width: 100%;
    min-height: 50vh;
    text-align: center;
}

.startup_overlay_item_inner{
    margin: 20px auto;
    max-width: 300px;
}

.startup_overlay_title{
    font-size: 1.4rem;
}

#startup_overlay_item_left .startup_overlay_title{
    color: #3bf10d;
}

.startup_overlay_item_content{
    margin-top: 20px;
    font-size: 1rem;
    text-align: left;
    padding: 20px;
}

#startup_overlay_item_right .startup_overlay_item_content{
    background-color: #FFF;
    color: #212121;
}

.startup_overlay_item_content_item {
    margin-top: 20px;
    line-height: 23px;
    display: flex;
}

.startup_overlay_item_content_item:first-child{
    margin-top: 0;
}

.startup_overlay_item_content_item i{
    margin-right: 10px;
    line-height: 23px;
}

#startup_overlay_item_right i{
    color: #20b7e6;
    width: 20px;
}

.startup_overlay_item_content_item_title{
    font-weight: bold;
}

#startup_overlay_item_right .startup_overlay_item_content img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 4px;
    position: relative;
    top: 2px;
}

#startup_overlay_item_left i{
    color: #3bf10d;
}

.startup_overlay_item_content_item_text{
    display: none;
}

#startup_overlay_item_right{
    background-color: #20b7e6;
    color: #FFF;
    position: relative;
}


@media only screen and (min-width:700px) {

    .startup_overlay_item{
        width: 50%;
        height: 100vh;
        display: flex;
        align-items: center;
    }

    .startup_overlay_item_inner{
        max-width: 400px;
    }

    .startup_overlay_item_content_item_text{
        display: initial;
    }
}

@media only screen and (min-width:1000px) {
    .startup_overlay_item_inner{
        max-width: 450px;
    }
}

#startup_overlay_button{
    border-radius: 4px;
    line-height: 50px;
    padding: 0 40px;
    background-color: #228AAB;
    display: inline-block;
    color: #ffffff;
    transition: 0.4s;
    font-size: 1rem;
    cursor: pointer;
}

#startup_overlay_button:hover{
    background-color: #1b667d;
}

#startup_overlay_button img{
    margin-right: 10px;
    border-radius: 4px;
    width: 20px;
}