.u-section-1 .u-sheet-1 {
  min-height: 5px;
}.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

.u-section-2 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 400px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 350px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 220px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 521px;
  margin-bottom: 0;
}

.u-section-3 .u-custom-html-1 {
  margin-bottom: 60px;
}.u-section-4 .u-sheet-1 {
  min-height: 761px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1069px;
  margin: 0 18px 60px auto;
}

.u-section-4 .u-image-1 {
  min-height: 600px;
  background-image: url("images/vvv.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 600px;
}

.u-section-4 .u-container-layout-2 {
  padding: 14px 30px;
}

.u-section-4 .u-text-1 {
  font-size: 6rem;
  font-weight: 200;
  letter-spacing: 2px;
  margin: 0;
}

.u-section-4 .u-text-2 {
  letter-spacing: 1px;
  background-image: none;
  text-transform: none;
  font-style: italic;
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-4 .u-text-3 {
  margin: 43px 0 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-weight: 700;
  margin: 9px auto 0 0;
  padding: 0;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  border-style: none;
  font-weight: 700;
  margin: 11px 372px 0 0;
  padding: 0;
}

.u-section-4 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-4 .u-btn-3 {
  background-image: none;
  border-style: none;
  font-weight: 700;
  margin: 9px auto 0 0;
  padding: 0;
}

.u-section-4 .u-btn-4 {
  background-image: none;
  border-style: none;
  font-weight: 700;
  margin: 9px auto 0 0;
  padding: 0;
}

.u-section-4 .u-text-5 {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 4px;
  margin: 32px 0 0;
}

.u-section-4 .u-btn-5 {
  border-style: none none solid;
  padding: 0;
}

.u-section-4 .u-shape-1 {
  width: 64px;
  height: 64px;
  margin: 43px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 642px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    min-height: 528px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 528px;
  }

  .u-section-4 .u-btn-2 {
    margin-right: 308px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 50px;
    width: 720px;
  }

  .u-section-4 .u-image-1 {
    min-height: 404px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .u-section-4 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-4 .u-btn-2 {
    margin-right: 198px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 815px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-4 .u-image-1 {
    min-height: 606px;
    background-position: 50% 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding: 14px 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 576px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-4 .u-image-1 {
    min-height: 382px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-4 .u-btn-2 {
    margin-right: 0;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 1051px;
}

.u-section-5 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 200;
  letter-spacing: 2px;
  margin: 63px 0 0;
}

.u-section-5 .u-list-1 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
  min-height: 883px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 30px 22px 0;
}

.u-section-5 .u-image-1 {
  width: 235px;
  height: 235px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-2 {
  font-size: 3rem;
  margin: -235px 0 0 265px;
}

.u-section-5 .u-text-3 {
  margin-left: 265px;
  margin-right: 0;
  font-size: 2.25rem;
  margin-bottom: 0;
}

.u-section-5 .u-btn-1 {
  margin-left: 265px;
  margin-right: 265px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 30px 22px 0;
}

.u-section-5 .u-image-2 {
  width: 235px;
  height: 235px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-4 {
  font-size: 3rem;
  margin: -235px 0 0 265px;
}

.u-section-5 .u-text-5 {
  margin-left: 265px;
  margin-right: 0;
  font-size: 2.25rem;
  margin-bottom: 0;
}

.u-section-5 .u-btn-2 {
  margin-left: 265px;
  margin-right: 265px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px 30px 22px 0;
}

.u-section-5 .u-image-3 {
  width: 235px;
  height: 235px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-6 {
  font-size: 3rem;
  margin: -235px 0 0 265px;
}

.u-section-5 .u-text-7 {
  margin-left: 265px;
  margin-right: 0;
  font-size: 2.25rem;
  margin-bottom: 0;
}

.u-section-5 .u-btn-3 {
  margin-left: 265px;
  margin-right: 265px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
}

.u-section-5 .u-text-8 {
  font-style: normal;
  margin: 30px 0 60px;
}

.u-section-5 .u-btn-4 {
  border-style: none none solid;
  font-style: normal;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-list-1 {
    height: auto;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-left: 274px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-top: 20px;
    margin-left: 274px;
  }

  .u-section-5 .u-btn-1 {
    margin: 20px auto 0 274px;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-left: 274px;
  }

  .u-section-5 .u-text-5 {
    width: auto;
    margin-top: 20px;
    margin-left: 274px;
  }

  .u-section-5 .u-btn-2 {
    margin: 20px auto 0 274px;
  }

  .u-section-5 .u-text-6 {
    width: auto;
    margin-left: 274px;
  }

  .u-section-5 .u-text-7 {
    width: auto;
    margin-top: 20px;
    margin-left: 274px;
  }

  .u-section-5 .u-btn-3 {
    margin: 20px auto 0 274px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-2 {
    margin-left: 263px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 263px;
  }

  .u-section-5 .u-btn-1 {
    margin-left: 263px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 263px;
  }

  .u-section-5 .u-text-5 {
    margin-left: 263px;
  }

  .u-section-5 .u-btn-2 {
    margin-left: 263px;
  }

  .u-section-5 .u-text-6 {
    margin-left: 263px;
  }

  .u-section-5 .u-text-7 {
    margin-left: 263px;
  }

  .u-section-5 .u-btn-3 {
    margin-left: 263px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1930px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    font-size: 4.0625rem;
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-5 .u-image-1 {
    width: 240px;
    height: 240px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 15px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-5 .u-text-3 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-5 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-5 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-5 .u-image-2 {
    width: 240px;
    height: 240px;
  }

  .u-section-5 .u-text-4 {
    margin-top: 15px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-5 .u-text-5 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-5 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-5 .u-container-layout-3 {
    padding-right: 10px;
  }

  .u-section-5 .u-image-3 {
    width: 240px;
    height: 240px;
  }

  .u-section-5 .u-text-6 {
    margin-top: 15px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-5 .u-text-7 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-5 .u-btn-3 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-5 .u-text-2 {
    margin-top: 20px;
  }

  .u-section-5 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-text-4 {
    margin-top: 20px;
  }

  .u-section-5 .u-text-5 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-text-6 {
    margin-top: 20px;
  }

  .u-section-5 .u-text-7 {
    font-size: 1.5rem;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 1128px;
}

.u-section-6 .u-shape-1 {
  width: 166px;
  height: 166px;
  margin: 84px auto 0 124px;
}

.u-section-6 .u-shape-2 {
  width: 296px;
  height: 296px;
  margin: 389px 13px 0 auto;
}

.u-section-6 .u-image-1 {
  width: 827px;
  height: 649px;
  margin: -758px 106px 0 auto;
}

.u-section-6 .u-group-1 {
  width: 510px;
  min-height: 526px;
  margin: -303px auto 0 0;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 40px;
}

.u-section-6 .u-text-1 {
  font-weight: 200;
  margin: 0;
}

.u-section-6 .u-text-2 {
  font-weight: 400;
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-6 .u-text-3 {
  font-style: normal;
  font-weight: 400;
  margin: 18px 0 0;
}

.u-section-6 .u-btn-1 {
  border-style: none none solid;
  font-style: normal;
  padding: 0;
}

.u-section-6 .u-btn-2 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 4px;
  border-style: solid;
  margin: 26px auto 0 0;
  padding: 14px 38px 15px;
}

.u-section-6 .u-shape-3 {
  width: 146px;
  height: 146px;
  margin: -137px 276px -136px auto;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1099px;
  }

  .u-section-6 .u-shape-1 {
    margin-top: 70px;
    margin-left: 61px;
  }

  .u-section-6 .u-shape-2 {
    margin-top: 281px;
    margin-right: 0;
  }

  .u-section-6 .u-image-1 {
    width: 710px;
    height: 557px;
    margin-top: -665px;
    margin-right: auto;
    margin-left: 124px;
  }

  .u-section-6 .u-group-1 {
    width: 428px;
    min-height: 518px;
    margin-top: -203px;
  }

  .u-section-6 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-6 .u-shape-3 {
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1019px;
  }

  .u-section-6 .u-shape-1 {
    margin-left: 18px;
  }

  .u-section-6 .u-shape-2 {
    width: 254px;
    height: 254px;
    margin-top: 248px;
  }

  .u-section-6 .u-image-1 {
    width: 556px;
    height: 490px;
    margin-top: -593px;
    margin-right: 76px;
    margin-left: auto;
  }

  .u-section-6 .u-group-1 {
    margin-top: -204px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-shape-3 {
    width: 121px;
    height: 121px;
    margin-top: -159px;
    margin-right: 113px;
    margin-bottom: -104px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 966px;
  }

  .u-section-6 .u-shape-1 {
    width: 103px;
    height: 103px;
    margin-right: 419px;
    margin-left: auto;
  }

  .u-section-6 .u-shape-2 {
    width: 228px;
    height: 228px;
    margin-top: 122px;
  }

  .u-section-6 .u-image-1 {
    width: 414px;
    height: 326px;
    margin-top: -404px;
    margin-right: auto;
  }

  .u-section-6 .u-group-1 {
    width: 366px;
    min-height: 507px;
    margin-top: -56px;
  }

  .u-section-6 .u-shape-3 {
    width: 91px;
    height: 91px;
    margin-top: -292px;
    margin-right: 50px;
    margin-bottom: -116px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1040px;
  }

  .u-section-6 .u-shape-1 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-6 .u-shape-2 {
    width: 197px;
    height: 197px;
    margin-top: 15px;
  }

  .u-section-6 .u-image-1 {
    height: 201px;
    width: 274px;
    margin-top: -264px;
  }

  .u-section-6 .u-group-1 {
    width: 292px;
    min-height: 525px;
    margin-top: 33px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-6 .u-shape-3 {
    width: 71px;
    height: 71px;
    margin-top: 18px;
    margin-right: 60px;
    margin-bottom: -10px;
  }
}.u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 554px;
}

.u-section-7 .u-shape-1 {
  width: 64px;
  height: 64px;
  margin: 60px auto 0;
}

.u-section-7 .u-text-1 {
  width: 780px;
  letter-spacing: 2px;
  font-weight: 200;
  font-size: 3.75rem;
  margin: 46px auto 0;
}

.u-section-7 .u-btn-1 {
  font-size: 1.125rem;
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 46px auto 60px;
  padding: 14px 30px;
}

@media (max-width: 991px) {
  .u-section-7 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 564px;
  }

  .u-section-7 .u-shape-1 {
    margin-top: 70px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    font-size: 3rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-btn-1 {
    margin-bottom: -1px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 551px;
  }

  .u-section-7 .u-shape-1 {
    margin-top: 60px;
  }

  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-7 .u-btn-1 {
    margin-bottom: 60px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 858px;
}

.u-section-8 .u-shape-1 {
  width: 166px;
  height: 166px;
  margin: 324px auto 0 16px;
}

.u-section-8 .u-shape-2 {
  width: 228px;
  height: 228px;
  background-image: none;
  margin: -430px 788px 0 auto;
}

.u-section-8 .u-image-1 {
  height: 489px;
  width: 683px;
  margin: -125px 218px 0 auto;
}

.u-section-8 .u-group-1 {
  width: 385px;
  min-height: 478px;
  margin: -385px 0 0 auto;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px 40px;
}

.u-section-8 .u-text-1 {
  font-weight: 200;
  margin: 0;
}

.u-section-8 .u-text-2 {
  font-weight: 400;
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-8 .u-btn-1 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 4px;
  border-style: solid;
  margin: 30px auto 0 0;
  padding: 14px 38px 15px;
}

.u-section-8 .u-text-3 {
  font-weight: 400;
  margin: 29px 0 60px 755px;
}

.u-section-8 .u-btn-2 {
  border-style: none none solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 841px;
  }

  .u-section-8 .u-shape-1 {
    width: 103px;
    height: 103px;
    margin-top: 335px;
    margin-left: 12px;
  }

  .u-section-8 .u-shape-2 {
    margin-top: -373px;
    margin-right: auto;
    margin-left: 61px;
  }

  .u-section-8 .u-image-1 {
    height: 380px;
    width: 508px;
    margin-top: -147px;
    margin-right: auto;
    margin-left: 145px;
  }

  .u-section-8 .u-group-1 {
    width: 357px;
    margin-top: -290px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-8 .u-text-3 {
    width: auto;
    margin-top: 30px;
    margin-bottom: 52px;
    margin-left: 555px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1048px;
  }

  .u-section-8 .u-shape-1 {
    margin-top: 369px;
    margin-left: 20px;
  }

  .u-section-8 .u-shape-2 {
    margin-top: -407px;
    margin-left: 30px;
  }

  .u-section-8 .u-image-1 {
    margin-top: -126px;
    margin-right: 66px;
    margin-left: auto;
  }

  .u-section-8 .u-group-1 {
    width: 429px;
    min-height: 429px;
    margin-top: -55px;
  }

  .u-section-8 .u-text-3 {
    margin-right: 69px;
    margin-bottom: -3px;
    margin-left: 291px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 970px;
  }

  .u-section-8 .u-shape-1 {
    width: 82px;
    height: 82px;
    margin-top: 838px;
    margin-left: 29px;
  }

  .u-section-8 .u-shape-2 {
    width: 178px;
    height: 178px;
    margin-top: -870px;
    margin-left: 0;
  }

  .u-section-8 .u-image-1 {
    height: 327px;
    width: 433px;
    margin-top: -107px;
    margin-right: 38px;
  }

  .u-section-8 .u-group-1 {
    margin-top: -65px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-8 .u-text-3 {
    margin-right: 0;
    margin-bottom: -407px;
    margin-left: 180px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 957px;
  }

  .u-section-8 .u-shape-1 {
    margin-top: 825px;
    margin-left: 20px;
  }

  .u-section-8 .u-shape-2 {
    width: 137px;
    height: 137px;
    margin-top: -857px;
    margin-right: 234px;
    margin-left: -31px;
  }

  .u-section-8 .u-image-1 {
    height: 215px;
    width: 300px;
    margin-top: -89px;
    margin-right: auto;
  }

  .u-section-8 .u-group-1 {
    width: 294px;
    min-height: 474px;
    margin-top: -31px;
  }

  .u-section-8 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-8 .u-text-3 {
    margin-top: 13px;
    margin-bottom: 112px;
    margin-left: 46px;
  }
}.u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 502px;
}

.u-section-9 .u-text-1 {
  width: 550px;
  font-weight: 200;
  font-size: 3.75rem;
  margin: 60px auto 0;
}

.u-section-9 .u-text-2 {
  font-size: 1.5rem;
  width: 550px;
  margin: 36px auto 0;
}

.u-section-9 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-9 .u-btn-2 {
  border-style: none none solid;
  padding: 0;
}

.u-section-9 .u-btn-3 {
  border-style: none none solid;
  padding: 0;
}

.u-section-9 .u-form-1 {
  height: 74px;
  width: 465px;
  margin: 28px auto 60px;
}

.u-section-9 .u-input-1 {
  font-size: 1.125rem;
}

.u-section-9 .u-btn-4 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 1.125rem;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 462px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-text-1 {
    width: 540px;
  }

  .u-section-9 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-text-1 {
    width: 340px;
    font-size: 3rem;
  }

  .u-section-9 .u-text-2 {
    width: 340px;
  }

  .u-section-9 .u-form-1 {
    width: 340px;
  }
}
