
#modal_billingv2_no_cards_in_vault_container, #modal_billingv2_no_cards_in_vault_error{
    display: none;
}

.busy_wait_billingv2_no_cards_in_vault{
    display: block;
}

#modal_billingv2_no_cards_in_vault_seperator{
    border-bottom: 1px dashed #ddd;
    padding-bottom: 20px;
    margin-bottom: 10px;
}

#modal_billingv2_no_cards_in_vault_back{
    display: none;
}

[data-braintree-id="paypal"]{
    border: none !important;
}

[data-braintree-id="paypal"] .braintree-sheet__content--button{
    padding: 0 !important;
}

[data-braintree-id="paypal-sheet-header"],
[data-braintree-id="methods-label"]{
    display: none !important;
}