/* Inactive link */
.inactiveLink {
    pointer-events: none;
    cursor: default;
}

/* Busy wait filter */
.busy_wait_filter{
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
    display: none;
    margin-bottom: 10px;
}

.busy_wait_filter .sk-cube-grid{
    display: inline-block;
}

.busy_wait_filter span{
    display: inline-block;
    position: relative;
    top: -15px;
    font-weight: bold;
    margin-left: 5px;
}

/* Error loading filters */

.apply_filter_error{
    display: none;
    text-align: center;
    margin-bottom: 10px;
}

.apply_filter_error p{
    font-weight: bold;
    color: #ea1636;
    text-align: center;
}

/* Filters Categories */

#category_tree_container{
    position: relative;
}

#category_tree_container::before{
    border-left: 1px dotted #3bf10d;
    content: '';
    position: absolute;
    left: 9px;
    bottom: 15px;
    z-index: 4;
    top: 10px;
}

#category_tree{
    -webkit-padding-start: 0px;
    list-style-type: none;
    position: relative;
    overflow-y: auto;
    max-height: 300px;
}

#category_tree li{
    position: relative;
    list-style-type: none;
}

.category_tree_item_menu{
    margin-bottom: 5px;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
}

.category_tree_item_menu_checkbox{
    width: 15px;
    height: 15px;
    border: 1px solid #bbb;
    background-color: #fff;
    position: relative;
    z-index: 5;
    cursor: pointer;
    border-radius: 2px;
    top: 3px;
    left: 23px;
}

.category_tree_item_menu_checkbox:hover{
    background-color: #F5F5F7;
}

.category_tree_item{
    margin-left: 25px;
    height: 20px; 
    line-height: 20px;
    padding: 0px 5px;
    display: inline-block;
    background-color: #fff;
    border: 1px solid #fff;
    position: relative;
    z-index: 5;
    cursor: pointer;
}

.category_tree_item_selected{
    background-color: #3bf10d !important;
    border-color: #3bf10d !important;
    color: #FFF !important;
}

#category_tree li::before{
    border-top: 1px dotted #3bf10d;
    content: '';
    position: absolute;
    left: 11px;
    width: 15px;
    z-index: 4;
    top: 10px;
}

#category_tree li::after {
    border-left: 1px dotted #3bf10d;
    content: '';
    position: absolute;
    left: 30px;
    top: 9px;
    bottom: 9px;
    z-index: 4;
}

#category_tree li i{
    position: absolute;
    top: 0px; left: 0;
    z-index: 5;
    background-color: #FFF;
    border: 1px solid #ddd;
    color: #404041;
    width: 20px;
    height: 20px;
    line-height: 20px !important;
    text-align: center;
    cursor: pointer;
}

.category_tree_item:hover{
    background-color: #FFF;
    border: 1px solid #ddd;
}

#category_tree li ol{
    display: none;
}

/* Category Search */

.category_search_container{
    position: absolute;
    background-color: #FFF;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 10px #404041;
    border-bottom: none;
    min-width: 300px;
    max-height: 170px;
    overflow-y: auto;
    z-index: 50;
    top: 50px;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.category_search_container_active{
    visibility: visible;
    opacity: 1;
    top: 70px;
}

.category_search_container li{
    list-style-type: none;
    padding: 0px 10px;
    height: 50px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
    position: relative;
}

.category_search_container li .category_search_container_item{
    font-weight: bold;
    position: absolute;
    bottom: 10px; left: 10px;
    font-size: 1rem
}

.category_search_container li .category_search_container_subs{
    font-size: 0.7rem;
    position: absolute;
    top: 5px;
}

.category_search_container li .category_search_container_subs a::after{
    content: '>';
    margin-left: 5px;
    margin-right: 5px;
}

.category_search_container li .category_search_container_subs a:last-child{
    font-weight: bold;
    color: #3bf10d;
}

.category_search_container li .category_search_container_subs a:last-child::after{
    display: none;
}

.category_search_container li:hover{
    background-color: #F5F5F7;
}


.category_search_selected{
    display: inline-block;
    border-radius: 4px;
    line-height: 20px;
    margin: 5px 5px 0px 0px;
}

.category_search_selected span{
    background-color: #3bf10d;
    color: #FFF;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 0px 5px;
    line-height: 30px;
    display: inline-block;
}

.category_search_selected span.category_search_selected_new_cat{
    background-color: #20b7e6;
}

.category_search_selected i{
    background-color: #ddd;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 0px 5px;
    line-height: 30px;
    cursor: pointer;
}

.category_search_selected i:hover{
    background-color: #404041;
    color: #FFF;
}

.category_search_container_addnew{
    display: none;
    padding: 0px 10px;
    line-height: 25px;
    cursor: pointer;
    background-color: #F5F5F7;
    border-bottom: 1px solid #ddd;
}

.category_search_container_addnew:hover, .category_search_container_addnew:hover strong{
    background-color: #3bf10d !important;
    color: #FFF !important;
    border-color: #3bf10d;
}


/* =============================== */
/* Category Search Add Version 2 = */
/* =============================== */

.v2cat_search_container{
    position: absolute;
    background-color: #fff;
    left: 0;
    right: 0;
    top: 30px;
    border: 1px solid #ddd;
    z-index: 3;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0px 0px 14px #dedede;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    max-height: 160px;
    overflow-y: auto;
}

.v2cat_search_container_active{
    visibility: visible;
    opacity: 1;
    top: 50px;
}

.v2cat_search_container_addnew{
    line-height: 25px;
    border-bottom: 1px solid #ddd;
    display: none;
    padding: 0px 10px;
}

.v2cat_item{
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    padding: 10px;
    position: relative;
}

.v2cat_item:last-child{
    border-bottom: none;
}

.v2cat_item:hover{
    background-color: #e7e7e8;
}

.v2cat_item_br{
    position: absolute;
    top: 5px;
    left: 10px;
    font-size: 0.7rem;
}

.v2cat_item_br span::after{
    content: '>';
    margin-left: 5px;
    margin-right: 5px;
}

.v2cat_item_br span:last-child{
    color: #3bf10d;
    font-weight: bold;
}

.v2cat_item_br span:last-child::after{
    display: none;
}

.v2cat_item_text{
    margin-top: 10px;
    font-size: 1rem;
    font-weight: bold;
}

/* ========================= */
/* Pagination ============== */
/* ========================= */

.pagination{
    text-align: center;
    margin-bottom: 20px;
    clear: both;
}

.pagination_text_results{ line-height: 30px; }


.pagination_number_results a{
    display: inline-block;
    height: 30px;
    line-height: 28px;
    min-width: 30px;
    padding: 0px 10px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    margin: 2px 2px;
    border-radius: 4px;
}

.pagination_dropdown i{
    display: inline-block;
    background-color: #FFF;
    border: 1px solid #cfd7d9;
    height: 30px;
    line-height: 28px;
    min-width: 30px;
    padding: 0px 10px;
    text-align: center;
    color: #404041;
    cursor: pointer;
    margin: 2px 2px;
    border-radius: 4px;
}

.pagination_number_results a.pagination_number_active{
    cursor: default;
}

.pagination_number_results a.pagination_number_inactive{
    background-color: #ddd;
    color: #404041 !important;
    border-color: #ddd;
    pointer-events: none;
}

.pagination_previous_next span{
    display: none;
}

@media only screen and (min-width:700px) {

    .pagination_previous_next span{
        display: block;
    }

    .pagination_previous_next i{
        display: none;
    }

    .pagination_small .pagination_previous_next span{
        display: none;
    }

    .pagination_small .pagination_previous_next i{
        display: inline-block;
    }

    .pagination_text_results{
        width: 35%;
        float: left;
        text-align: left;
    }

    .pagination_number_results{
        float: right;
        width: 60%;
        margin-left: 5%;
        text-align: right;
    }

}

.pagination_dropdown{
    position: relative;
    display: inline-block;
}

.pagination_dropdown_menu{
    position: absolute;
    background-color: #FFF;
    border: 1px solid #ddd;
    border-radius: 4px;
    z-index: 400;
    right: 1px;
    top: 25px;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: -1px 3px 5px #d4d4d4;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    visibility: hidden;
    opacity: 0;
}

.pagination_dropdown_menu_active .pagination_dropdown_menu{
    visibility: visible;
    opacity: 1;
    top: 34px;
}

.pagination_dropdown_menu_bottom {
    top: inherit !important;
    bottom: 25px;
}

.pagination_dropdown_menu_active .pagination_dropdown_menu_bottom{
    bottom: 35px;
}

.pagination_dropdown_menu a{
    margin: 0;
    border: none;
    border-bottom: 1px solid #ddd;
    display: block;
    min-width: 150px;
    border-radius: 0;
}

.pagination_dropdown_menu a span{
    font-weight: normal;
}

/* Desktop Notifications */

#desktop_notifications_permission{
    display: none;
    background-color: #fcf8e3;
    color: #c09853;
    padding: 20px;
    margin: 0px auto 20px auto;
    max-width: 300px;
    border: 1px solid #ddd;
    text-align: center;
}

#desktop_notifications_permission_accept{
    background-color: #c09853;
    border-color: #c09853;
}

/* ========================= */
/* Quick Search Results ==== */
/* ========================= */

.quicksearch_results_container{
    min-width: 250px;
    width: 100%;
}

@media only screen and (min-width:600px) {
    .quicksearch_results_container {
        float: left;
        width: inherit;
    }
}

.quicksearch_results_container{ 
    position: relative; 
}

#quicksearch_results, .quicksearch_results {
    position: absolute;
    background-color: #fff;
    z-index: 9002;
    border: 1px solid #ddd;
    min-width: 300px;
    max-width: 400px;
    max-height: 300px;
    overflow-y: auto;
    top: 40px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

#quicksearch_results_related, .quicksearch_results_related{
    background-color: #fff;
    z-index: 9002;
    border: 1px solid #ddd;
    min-width: 300px;
    max-width: 400px;
    max-height: 300px;
    overflow-y: auto;
    top: 40px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    margin-bottom: 20px;
}


#quicksearch_results.quicksearch_results_active, #quicksearch_results_related.quicksearch_results_active.quicksearch_results_active,
.quicksearch_results.quicksearch_results_active, .quicksearch_results_related.quicksearch_results_active.quicksearch_results_active{
    top: 45px;
    opacity: 1;
    visibility: visible;
}

.quicksearch_results_message{
    padding: 2px 10px;
    line-height: 20px;
}

.quicksearch_results_message_number{
    background-color: #f5f5f7;
    
}

#quicksearch_results li, #quicksearch_results_related li,
.quicksearch_results li, .quicksearch_results_related li{
    list-style-type: none;
    border-top: 1px solid #ddd
}

#quicksearch_results li:last-child, #quicksearch_results_related li:last-child,
.quicksearch_results li:last-child, .quicksearch_results_related li:last-child{
    border-bottom: none;
}

#quicksearch_results li a, #quicksearch_results_related li a,
.quicksearch_results li a, .quicksearch_results_related li a{
    padding: 10px;
    display: block;
    color: #404041;
    line-height: 15px;
    cursor: pointer;
}

#quicksearch_results li a:hover, #quicksearch_results_related li a:hover,
.quicksearch_results li a:hover, .quicksearch_results_related li a:hover{
    background-color: #f5f5f7;
}

.quicksearch_results_item_nohover{
    background-color: #FFFFFF !important;
    cursor: inherit !important;
}

.quicksearch_results_item_related{
    padding: 0px 10px;
    line-height: 35px;
    clear: both;
    height: 35px;
}

.quicksearch_results_item_related:hover{
    background-color: #F5F5F7;
    cursor: pointer;
}

.quicksearch_results_item_related .quicksearch_results_item_text{
    height: 35px;
    float: none;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.quicksearch_results_item_text2{
    word-break: break-all;
}

.quicksearch_results_item_image{
    float: left;
    width: 20%;
    max-width: 50px;
    min-height: 50px;
    margin-right: 5%;
    position: relative;
}

.quicksearch_results_item_image::before {
    content: 'Image not Found';
    display: block;
    position: absolute;
    z-index: 2;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    text-align: center;
    top: 50%;
    min-height: 50px;
    line-height: 15px;
    background-color: #F5F5F5;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 0.7rem;
}

.quicksearch_results_item_text{
    float: left;
    width: 75%;
}

.quicksearch_results_item_text1{
    font-weight: bold;
    max-height: 45px;
    overflow: hidden;
    margin-bottom: 5px;
}

.quicksearch_results_item_text3{
    margin-top: 5px;
    font-weight: bold;
    color: #5DC548;
}
