

/* By Default, image gallery is hidden */
#image_gallery{
    display: none;
}



/* Gallery */

#image_gallery_container{
    margin-top: 20px;
}

#lists_images_table_ucImageGallery{ 
    display: none; 
    margin-top: 0;
}

.lists_images_table_items_ucImageGallery{
    position: relative;
}

/* Grid */

.lists_images_table_grid_ucImageGallery{
    text-align: center;
}

.lists_images_table_grid_ucImageGallery thead tr{
    display: inline-table;
    width: 100%;
}

.lists_images_table_grid_ucImageGallery thead tr th{
    width: 50px;
}

.lists_images_table_grid_ucImageGallery .table_header_titles{
    display: none;
}

.lists_images_table_grid_ucImageGallery tbody tr{
    display: inline-table;
    width: 120px;
    height: 150px;
    background-color: #FFF;
    border: 1px solid #ddd;
    margin: 10px 10px 15px 0px;
}

@media only screen and (min-width:600px) { 
    .lists_images_table_grid_ucImageGallery tbody tr{
        width: 146px;
    }
}

.lists_images_table_grid_ucImageGallery tbody td{
    display: block;
    border: none;
}

.lists_images_table_grid_ucImageGallery tbody .lists_table_label_name{
    width: 80px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media only screen and (min-width:600px) { 
    .lists_images_table_grid_ucImageGallery tbody .lists_table_label_name{
        width: 100px;
    }
}

.lists_images_table_grid_ucImageGallery tbody tr img{
    width: 100%;
}

.lists_images_table_grid_ucImageGallery .lists_images_table_items_pdf{
    font-size: 4rem !important;
    margin: 0 auto;
    display: block !important;
    width: 55px;
    color: #a9a9a9;
}

.lists_table_image_ucImageGallery{
    position: relative;  
}

.lists_table_image_ucImageGallery img::before{
    content: 'Image not Found';
    display: block;
    position: absolute;
    z-index: 2;
    right: 0; bottom: 0;left: 0;
    background-color: #fff;
    text-align: center;
    top: 50%;
    min-height: 50px;
    line-height: 50px;
    background-color: #F5F5F5;
   -webkit-transform: translateY(-50%);
   -ms-transform: translateY(-50%);
   transform: translateY(-50%);
   font-size: 0.7rem;
}

.lists_images_table_grid_ucImageGallery .lists_table_name, .lists_images_table_grid_ucImageGallery .lists_table_size{ display: none; }

.lists_images_table_grid_ucImageGallery .lists_table_date{
    position: absolute;
    bottom: -15px;
    right: 0;
    text-align: right;
    padding: 0;
    font-size: 0.6rem;
}

/* Lists */

.lists_images_table_panel.lists_images_table_list_ucImageGallery{
    background-color: #FFF;
    border: 1px solid #ddd;
    padding: 20px;
}

.lists_images_table_list_ucImageGallery .table_header_titles{
    background-color: #F5F5F5;
    font-weight: bold;
    display: table-row;
}

.lists_images_table_list_ucImageGallery .lists_table_label_name{
    display: none;
}

.lists_images_table_list_ucImageGallery .lists_table_image{
    display: none;
}

.lists_images_table_list_ucImageGallery .lists_table_name span{
    max-width: 300px;
    display: block;
    overflow: hidden;

}