
#order_list_tags_error, .busy_wait_order_tags_container, #modal_add_order_tag_fail, #modal_edit_order_tag_fail,
#modal_delete_order_tag_count_found, #modal_delete_order_tag_count_notfound, #modal_delete_order_tag_fail, #orders_filters_panel, #orders_search_panel, #orders_no_orders_ever{
    display: none;
}



#orders_no_orders_ever{
    max-width: 400px;
    margin: 100px auto;
    text-align: center;
}

#orders_no_orders_ever img{
    max-width: 200px;
    margin-bottom: 10px;
}


.manage_orders_list_top{
    border-bottom: 5px solid #3bf10d;
}

.quicksearch_results_container{
    float: left;
}

#btnAddNewOrder{
    float: right;
}

#total_orders_display_container{
    display: none;
    font-weight: bold;
    font-size: 1rem;
    line-height: 40px;
}

.list_table_tags{
    max-width: 200px;
}

.overlimit, .overlimit_panel, .zero_orders, .lists_orders_table{ display: none; }
.overlimit strong{ color: #3bf10d; }

.order_lists_attributes .checkbox_container, .order_lists_types .checkbox_container{
    margin-bottom: 0;
    margin-right: 5px;
}

.order_lists_types{
    display: none;
    margin-left: 15px;
}

.order_lists_attributes input, .order_lists_types input{
    height: 30px !important;
}

#lists_orders_table thead{
    border-bottom: 1px solid #ddd;
}

.list_table_hidden{
    display: none !important;
}

.table_header_titles{
    background-color: #F5F5F5;
    font-weight: bold;
}

.list_table_status span{
    color: #FFF;
    display: inline-block;
    padding: 0px 5px;
    line-height: 20px;
    font-size: 0.7rem;
    border-radius: 4px;
    cursor: pointer;
}

.list_table_status_open span{ background-color: #5DC548; }
.list_table_status_closed span{ background-color: #404041; }
.list_table_status_problem span{ background-color: #ea1636; }
.list_table_status_other span{ background-color: #FFB432; }

.list_table_paymentmethod{
    position: relative;
}

.list_table_paymentmethod img{
    max-width: 40px;
    max-height: 40px;
    border-radius: 4px;
    display: block;
}

.list_table_paymentmethod img::before{
    content: 'Image not Found';
    display: block;
    position: absolute;
    z-index: 2;
    right: 0; bottom: 0;left: 0;
    background-color: #fff;
    text-align: center;
    top: 50%;
   -webkit-transform: translateY(-50%);
   -ms-transform: translateY(-50%);
   transform: translateY(-50%);
   font-size: 0.7rem;
   max-width: 75px;
   padding-top: 5px;
}

.list_table_order div{
    margin-top: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 250px;
}

.list_table_order div:first-child{
    margin-top: 0;
}

.list_table_url{
    text-align: center;
}

.order_number{
    margin-bottom: 5px;
    font-size: 0.9rem;
    font-weight: bold;
}

/* Tags */

.order_tags_area{
    margin-bottom: 10px;
}

.order_tags_item, .order_tags_add{
    margin-right: 10px;
    line-height: 20px;
    float: left;
    color: #FFF;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.7rem;
    margin-bottom: 10px;
    border-radius: 4px;
}

.order_tags_item span{
    padding: 0px 5px;
    line-height: 20px;
    display: inline-block;
    text-transform: capitalize;
    font-weight: bold;
    text-shadow: 0 0 5px #696969;
}

.order_tags_item i{
    display: inline-block;
    border-left: 1px dashed #FFF;
    line-height: 20px;
    width: 20px;
    text-align: center;
    text-shadow: 0 0 5px #696969;
}

.order_tags_add{ 
    border: 1px solid #ddd;
    color: #404041;
    text-align: center;
    padding: 0px 10px;
}

.order_tags_add:hover{
    background-color: #ddd;
}

.order_tags_item.order_tags_item_selected span{
    text-decoration: underline;
}

.list_table_tags span{
    color: #FFF;
    display: inline-block;
    padding: 0px 5px;
    line-height: 20px;
    font-size: 0.7rem;
    border-radius: 4px;
    margin: 2px 4px 2px 0;
    cursor: pointer;
    text-shadow: 0 0 5px #696969;
}

.list_table_tags span:first-child{
    margin-top: 0;
}

.list_table_tags span:last-child{
    margin-bottom: 0;
}

/* Add Tags Modal */

.add_tag_colors_picker_container, .edit_tag_colors_picker_container {
    margin-bottom: 10px;
}

.add_tag_colors_item_selected, .edit_tag_colors_item_selected{ 
    display: inline-block;
    margin-left: 10px;
}

.modal_edit_order_tag_name, .modal_edit_order_tag_color, .list_table_tags span{ text-transform: capitalize; }

/* Tags Applied */

#applied_tags{
    display: none;
}

#applied_tags a{
    margin-right: 10px;
    color: #FFF;
    background-color: #20b7e6;
}

#applied_tags a i{
    margin-right: 5px;
}

.filter_tag_status_item_open{
    background-color: #5DC548 !important;
}

.filter_tag_status_item_closed{
    background-color: #404041 !important;
}

.filter_tag_status_item_problem{
    background-color: #ea1636 !important;
}

#applied_tags a:hover{
    background-color: #ea1636 !important;
}

/* Custom Menu */

.order_list_custom_menu {
    display: none;
    z-index: 9999;
    position: absolute;
    white-space: nowrap;
    background: #FFF;
    color: #404041;
    box-shadow: 3px 4px 1px -1px #5a5a5a;
    min-width: 250px;
}

.order_list_custom_menu::after {
    content: '';
    display: block;
    clear: both;
}

.order_list_custom_menu a{
    line-height: 30px;
    padding: 0 20px 0 0;
    display: block;
    border: 1px solid #c3c3c3;
    border-top: none;
    cursor: pointer;
    position: relative;
    color: #404041;
}

.order_list_custom_menu a:first-child{
    border-top: 1px solid #c3c3c3;
}

.order_list_custom_menu a i:first-child {
    margin-right: 10px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #f5f5f7;
    border-right: 1px solid #ddd;
}

.order_list_custom_menu a:hover {
    background-color: #3bf10d;
    color: #fff;
    border-color: #3bf10d;
}

.order_list_custom_menu a:hover i:first-child{
    background-color: #3bf10d;
    color: #fff;
    border-color: #3bf10d;
}

.order_list_custom_menu_hide{
    background-color: #F5F5F7 !important;
    color: #414141 !important;
    text-decoration: line-through;
    position: relative;
    cursor: inherit !important;
}

.order_list_custom_menu_hide i{
    background-color: #F5F5F7 !important;
    color: #414141 !important;
    cursor: inherit !important;
    border-color: #ddd !important;
}

.order_list_custom_menu_updating_tag{
    display: none;
    background-color: #ea1636 !important;
    border-color: #ea1636 !important;
    color: #FFF !important;
}

 .order_list_custom_menu a.order_list_custom_menu_updating_tag i:first-child{
    background: none !important;
    color: #FFF !important;
    border: none !important;
}

.order_list_custom_menu_hide_tagsupdating{
    background-color: #F5F5F7 !important;
    color: #414141 !important;
    text-decoration: line-through;
    position: relative;
    cursor: inherit !important;
    pointer-events: none !important;
}

.order_list_custom_menu_sub{
    position: absolute;
    padding-left: 10px;
    left: 100%;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

.order_list_custom_menu a:hover .order_list_custom_menu_sub {
    opacity: 1;
    visibility: visible;
}

.order_list_custom_menu_sub_inner{
    background-color: #FFF;
    max-height: 150px;
    overflow-y: auto;
}

.order_list_custom_menu_sub span {
    line-height: 30px;
    padding: 0px 10px 0px 10px;
    display: block;
    border: 1px solid #c3c3c3;
    border-top: none;
    cursor: pointer;
    position: relative;
    color: #404041;
}

.order_list_custom_menu_sub span:first-child{
    border-top: 1px solid #c3c3c3;
}

.order_list_custom_menu_addTag_inner_box, .order_list_custom_menu_editTag_inner_box{
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-right: 5px;
    position: relative;
    top: 3px;
}

.order_list_custom_menu_sub span:hover {
    background-color: #f5f5f7;
}



/* Updating Tags or Status */

.tag_list_spinner, .status_list_spinner{
    display: none !important;
}

.tag_list_spinner_active, .status_list_spinner_active{
    display: inline-block !important;
    color: #FFF;
    padding: 0px 5px;
    line-height: 20px;
    font-size: 0.7rem;
    border-radius: 4px;
    margin: 2px 4px 2px 0;
    cursor: pointer;
    text-shadow: 0 0 5px #696969;
}



/* Order Dispatch Button */

.order_dispatch_button {
    display: inline-block;
    width: 25px;
    height: 25px;
    line-height: 25px;
    border-radius: 4px;
    margin: 2px;
    text-align: center;
    border: 1px solid #DDD;
    cursor: pointer;
    background-color: #FFF;
}

.order_dispatch_button:not(.order_dispatch_button_active):hover{
    background-color: #ddd;
}

.order_dispatch_button.order_dispatch_button_active{
    background-color: #5DC548;
    border-color: #5DC548;
    color: #FFF;
}



/* FLUX */

.lists_table_items[data-updating='true'] .list_table_status span,
.lists_table_items[data-updating='true'] .list_table_tags span,
.lists_table_items[data-updating='true'] .order_dispatch_button,
.lists_table_items[data-updating='true'] .checkbox_container label:after,
.lists_table_items[data-delete='true'] .list_table_status span,
.lists_table_items[data-delete='true'] .list_table_tags span,
.lists_table_items[data-delete='true'] .order_dispatch_button,
.lists_table_items[data-delete='true'] .checkbox_container label:after{
    background-color: #ddd !important;
    pointer-events: none !important;
    color: #868686 !important;
    border-color: #ddd !important;
}


.lists_table_items[data-updating='true'] .list_table_status,
.lists_table_items[data-updating='true'] .checkbox_container,
.lists_table_items[data-delete='true'] .list_table_status,
.lists_table_items[data-delete='true'] .checkbox_container{
    pointer-events: none !important;
}

.list_table_url{
    position: relative;
}

.list_table_url a{
    margin-bottom: 0;
}

.list_table_url_updating, .list_table_url_error{
    position: absolute;
    left: -8px;
    font-size: 1rem;
    top: 48%;
    transform: translateY(-50%);
    display: none;
}

.lists_table_items[data-updating='true'] .list_table_url_updating,
.lists_table_items[data-error='true'] .list_table_url_error{
    display: block;
}

.list_table_url_updating .tool_tip_left,
.list_table_url_error .tool_tip_left{
    left: -11px !important;
}