.favicon_example_image{
    width: 100%;
    max-width: 310px;
}

.your_favicon{
    margin-bottom: 20px;
    display: none;
}

#favicon_block_upload_panel, #favicon_upload_panel{
    display: none;
}

.busy_wait_favicon{
    display: block;
}

.your_favicon_image_container{
    background-color: #FFF;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 30px;
    height: 30px;
    display: inline-block;
    line-height: 30px;
    text-align: center;
}

.your_favicon_image_container img{
    width: 100%;
    max-width: 20px;
    position: relative;
    top: 5px;
    max-height: 20px;
    display: inline-block;
}


#upload_success, #upload_failed{
    display: none;
    position: relative;
}

.favicon_upload_status1{
    width: 80%;
    float: left;
}

.favicon_upload_status2{
    width: 20px;
    float: right;
    text-align: center;
    cursor: pointer;
}