
/* ==================================================================== */
/* Specific to Light Theme ============================================ */
/* ==================================================================== */

/* ============================== */
/* Color ======================== */
/* ============================== */

/* White */
.background_primary, header, .header_notification_item_pulse, .nav_notification, .header_account_menu,
.header_account_menu a:hover, .header_account_button_info.header_account_button_info_active,
.nav_link_container_update, a.nav_link_container:hover, .nav_link_container:hover i,
.nav_link_container_back:hover, .nav_footer_bottom a, .nav_footer_more,
.pagination_number_results a:hover, .pagination_number_results a.pagination_number_active, .pagination_dropdown i:hover,
.page_navigation_box_recent, .pagination_dropdown.pagination_dropdown_menu_active i, .disabledVAT_item, #hp_new_orders_container.hp_new_active i, 
.support_info_nav .support_info_nav_item_selected, .dropdown_menu a:hover{ 
    color: #FFFFFF; 
}

::selection{
    color: #FFFFFF; 
}
::-moz-selection {
    color: #FFFFFF; 
}

/* Greys */
.header_account_menu a, .header_account_menu_info, .nav_link_container, .nav_link_container_back,
.nav_footer_more_menu a, .pagination_number_results a{
    color: #404041;
}

/* ============================== */
/* Background =================== */
/* ============================== */

.header_account_menu_info, nav, .nav_link_container.active, .header_account_menu_active,
a.nav_link_container:hover .nav_link_container_update, .nav_link_container_back, .nav_footer_more_menu,
.pagination_number_results a{
    background-color: #FFFFFF;
}

.nav_footer_more_menu a:hover{
    background-color: #F5F5F7;
}

.nav_overlay, .settings_menu_overlay, .prodedit_menu_overlay, .support_info_menu_overlay, .live_orders_menu_overlay{
    background-color: rgba(0,0,0,0.7);
}


/* ============================== */
/* Borders ====================== */
/* ============================== */

.header_account_menu_info, .pagination_number_results a{
    border: 1px solid #cfd7d9;
}

.slides_item, .slides_item_add{
    border: 2px dashed #ddd;
}

.nav_footer_more_menu a{
    border-bottom: 1px solid #ddd;
}

/* ============================== */
/* Box Shadows ================== */
/* ============================== */
nav{
    border-right: 1px solid #cfd7d9;
}






/* Random Exceptions */

.button_disabled{
    background-color: #E7E7E8;
    border-color: #E7E7E8;
    color: #404041;
}
.button_disabled:hover{
    background-color: #E7E7E8;
    border-color: #E7E7E8;
    color: #404041;
}