
.busy_wait_product_list{
    display: block;
}



/* ======================= */
/* Lists ================= */
/* ======================= */

#products_being_created{
    display: none;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

#products_being_created i{
    font-size: 1.3rem;
    position: relative;
    top: 3px;
}

.overlimit, .overlimit_panel{ display: none; }
.overlimit strong{ color: #3bf10d; }

.manage_products_list_top{
    border-bottom: 5px solid #3bf10d;
}

#btnAddNewProduct{
    float: right;
}

.lists_filters .checkbox_container{
    margin-bottom: 0;
}

.lists_filters input{
    height: 30px;
}

.lists_table_container_most_outer{
    position: relative;
}

#lists_table, .zero_products{ display: none; }

#lists_table{ margin-top: 0; }

#lists_table thead{
    border-bottom: 1px solid #cfd7d9;
}

.table_header_titles_item{
    display: none;
}

@media only screen and (min-width:600px) {

    table#lists_table tr th:nth-child(1),
    table#lists_table tr th:nth-child(2),
    table#lists_table tr td:nth-child(1),
    table#lists_table tr td:nth-child(2){
        position: sticky;
        background-color: #fff;
        z-index: 100;
        transform: scale(0.97);
    }


    table#lists_table tr th:nth-child(1) {
        left: -1px;
        width: 43px;
    }

    table#lists_table tr th:nth-child(2) {
        left: 39px;
        z-index: 101;
    }

    table#lists_table tr td:nth-child(1) {
        left: -1px;
        width: 43px;
    }

    table#lists_table tr td:nth-child(2) {
        left: 39px;
    }

    table#lists_table tr:hover td:nth-child(1), 
    table#lists_table tr:hover td:nth-child(2){
        background-color: #f5f5f7;
    }

    table#lists_table tr.table_header_titles td:nth-child(1),
    table#lists_table tr.table_header_titles td:nth-child(2){
        background-color: #f5f5f7;
    }

    table#lists_table tr[data-delete="true"] td:nth-child(1),
    table#lists_table tr[data-delete="true"] td:nth-child(2){
        background-color: #f0f0f0 !important;
    }

}

#lists_apply_filter_button{
    display: none;
}

/*.lists_table_image{
    position: relative;
}*/

#lists_table img{
    max-width: 40px;
    max-height: 40px;
}

/*.lists_table_image img::before{
    content: 'Image not Found';
    display: block;
    position: absolute;
    z-index: 2;
    right: 0; bottom: 0;left: 0;
    background-color: #fff;
    text-align: center;
    top: 50%;
   -webkit-transform: translateY(-50%);
   -ms-transform: translateY(-50%);
   transform: translateY(-50%);
   font-size: 0.7rem;
}

tr:hover .lists_table_image img::before{
    background-color: #F5F5F5;
}*/

.lists_table_items_fully_deleted{
    text-decoration: line-through;
}

tr[data-delete="true"] .table_pending_delete_text.table_pending_delete_text_finished{
    color: #FFF !important;
    background-color: #ea1636;
    border-radius: 4px;
    padding: 0 5px;
    line-height: 20px;
}

.lists_table_name{
    font-weight: bold;
    min-width: 150px;
}


.lists_table_name[data-show="false"], .lists_table_image[data-show="false"], .lists_table_category[data-show="false"], .lists_table_price[data-show="false"], 
.lists_table_code[data-show="false"], .lists_table_stock[data-show="false"], .lists_table_weight[data-show="false"], .lists_table_brand[data-show="false"],
.lists_table_stars[data-show="false"], .lists_table_rating[data-show="false"], .lists_table_shipping[data-show="false"], .lists_table_availability[data-show="false"]{ 
    display: none; 
}

.lists_table_name[data-show="true"], .lists_table_image[data-show="true"], .lists_table_category[data-show="true"], .lists_table_price[data-show="true"],
.lists_table_code[data-show="true"], .lists_table_stock[data-show="true"], .lists_table_weight[data-show="true"], .lists_table_brand[data-show="true"],
.lists_table_stars[data-show="true"], .lists_table_rating[data-show="true"], .lists_table_shipping[data-show="true"], .lists_table_availability[data-show="true"]{ 
    display: table-cell; 
}





.table_header_titles_rating, .lists_table_rating{ text-align: center; }

.lists_table_rating span{ 
    color: #fff; 
    border-radius: 4px;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    display: inline-block;
    font-weight: bold;
}

.lists_table_rating[data-rating="A+"] span{ background-color: #20b7e6; }
.lists_table_rating[data-rating="A"] span{ background-color: #5DC548; }
.lists_table_rating[data-rating="B"] span{ background-color: #adc548; }
.lists_table_rating[data-rating="C"] span{ background-color: #FFB432; }
.lists_table_rating[data-rating="D"] span{ background-color: #ff6e32; }
.lists_table_rating[data-rating="E"] span{ background-color: #ea1636; }

.table_header_titles_stars{
    text-align: center;
}

.lists_table_stars{ 
    position: relative;
    text-align: center;
}

.lists_table_stars i{
    font-size: 2rem;
}

.lists_table_stars[data-stars="0"] i, .lists_table_stars[data-stars="1"] i{ color: #ea1636; }
.lists_table_stars[data-stars="2"] i{ color: #ff6e32; }
.lists_table_stars[data-stars="3"] i{ color: #FFB432; }
.lists_table_stars[data-stars="4"] i{ color: #adc548; }
.lists_table_stars[data-stars="5"] i{ color: #5DC548; }

.lists_table_stars span{
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-top: -1.5px;
    color: #FFF;
    font-weight: bold;
}

/* Custom Menu */

.product_list_custom_menu {
    display: none;
    z-index: 9999;
    position: absolute;
    white-space: nowrap;
    background: #FFF;
    color: #404041;
    border-radius: 4px;
    box-shadow: 1px 1px 5px #ddd;
    box-shadow: 3px 4px 1px -1px #5a5a5a;
    min-width: 250px;
}

.product_list_custom_menu::after{
    content: '';
    display: block;
    clear: both;
}

.product_list_custom_menu a{
    line-height: 30px;
    padding: 0 20px 0 0;
    display: block;
    border: 1px solid #c3c3c3;
    border-top: none;
    cursor: pointer;
    color: #404041;
}

.product_list_custom_menu a:first-child{
    border-top: 1px solid #c3c3c3;
}

.product_list_custom_menu a:last-child {
    border-bottom: none;
}

.product_list_custom_menu a i{
    margin-right: 10px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #f5f5f7;
    border-right: 1px solid #ddd;
}

.product_list_custom_menu a:last-child{
    border-bottom: none;
}

.product_list_custom_menu a:hover, .product_list_custom_menu a:hover i {
    background-color: #3bf10d !important;
    color: #fff !important;
    border-color: #3bf10d !important;
}

.product_list_custom_menu a.product_list_custom_menu_disabled{
    background-color: #ddd !important;
    text-decoration: line-through;
    pointer-events: none !important;
}



/* ======================= */
/* Reviews =============== */
/* ======================= */

#reviews_table img{
    max-width: 75px;
    max-height: 75px;
    box-shadow: 1px 1px 5px #212121;
}

.reviews_table_title{
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.reviews_table_name{
    color: #3bf10d;
    margin-bottom: 5px;
}

.reviews_table_description{
    border: 1px solid #ddd;
    padding: 10px;
    margin-top: 10px;
    background-color: #F5F5F5;
}

#reviews_table tr:hover .reviews_table_description{
    background-color: #FFF;
}


/* ======================= */
/* Brands ================ */
/* ======================= */

.no_brands{
    display: none;
}

.your_brands{
    overflow: hidden;
}

.your_brands_item{
    display: inline-block;
    float: left;
    margin: 0px 20px 20px 0px;
    border: 1px solid #ddd;
    border-radius: 4px;
    line-height: 30px;
    padding: 0px 20px;
    cursor: pointer;
}

.your_brands_item:hover{
    background-color: #F5F5F7;
}

.your_brands_item_selected{
    background-color: #3bf10d !important;
    color: #FFF !important;
    border-color: #3bf10d;
}

#edit_brand{
    display: none;
}

.brands_view_products_table img{
    max-width: 50px;
    max-height: 50px;
}

.brands_view_products_table_image{
    position: relative;
}

.brands_view_products_table img::before{
    content: 'Image not Found';
    display: block;
    position: absolute;
    z-index: 2;
    right: 0; bottom: 0;left: 0;
    background-color: #fff;
    text-align: center;
    top: 50%;
   -webkit-transform: translateY(-50%);
   -ms-transform: translateY(-50%);
   transform: translateY(-50%);
   font-size: 0.7rem;
}

tr:hover .brands_view_products_table img::before{
    background-color: #F5F5F5;
}

.quick_add_product_image_empty.dropzone{
    min-height: 100px;
}

.no_search_brands{
    display: none;
    color: #ea1636;
}


.product_option_icon_delete {
    background-color: #ea1636;
    color: #FFF;
    height: 20px;
    line-height: 20px !important;
    width: 20px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
}

.product_option_icon_delete:hover {
    background-color: #bb112b;
}



/* Groups Modal */

#modal_create_group2, #modal_create_group3{
    display: none;
}


/* Misc */

.list_table_url{
    position: relative;
}

.list_table_url a{
    margin-bottom: 0;
}

.list_table_url_updating{
    position: absolute;
    left: -7px;
    font-size: 1rem;
    top: 50%;
    transform: translateY(-50%);
}

.list_table_url_updating .tool_tip_left{
    left: -11px !important;
}

/* Availability */

.table_header_titles_availability, .lists_table_availability{
    text-align: center;
}

.prod_availability_button {
    display: inline-block;
    width: 25px;
    height: 25px;
    line-height: 25px;
    border-radius: 4px;
    margin: 2px;
    text-align: center;
    border: 1px solid #DDD;
    cursor: pointer;
}

.lists_table_items[data-delete="true"] .prod_availability_button{
    pointer-events: none !important;
}

tr:hover .prod_availability_button{
    background-color: #FFF;
}

tr:hover .prod_availability_button:hover{
    background-color: #ddd;
}

.prod_availability_button .fa-heart{
    color: #ea1636;
}

.prod_availability_button .fa-lock{
    color: #FFB432;
}

.prod_availability_button .fa-eye-slash{
    color: red;
}

.prod_availability_button_disabled{
    pointer-events: none !important;
    background-color: #DDD !important;
}

.prod_availability_button_disabled i{
    color: #adadad !important;
}

/* Restore Products Panel */

#restore_products_warning{
    display: none;
    margin-bottom: 20px;
    padding: 10px 20px;
    line-height: 20px;
}

#restore_products_warning_inner{
    display: flex;
    flex-wrap: nowrap;
}

#restore_products_warning_inner_left{
    margin-right: 10px;
}